.container > #game-history {
    background-color: #F4E8DC;
    /* height: 200px; */
    width: auto;
}

div > header {
    background-color: #F4E8DC;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 200px;
    width: auto;
    margin-left: 0px;
    padding-top: 20px;
    padding-left: 20px;
}

div > header> h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;  
}

div > header > a > h2 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    
    background-color: #CD5757;
    padding: 15px;
    width: 150px;
}